S1 BITMAP "../images/karten/S1.bmp"
S2 BITMAP "../images/karten/S2.bmp"
S3 BITMAP "../images/karten/S3.bmp"
S4 BITMAP "../images/karten/S4.bmp"
S5 BITMAP "../images/karten/S5.bmp"
S6 BITMAP "../images/karten/S6.bmp"
S7 BITMAP "../images/karten/S7.bmp"
S8 BITMAP "../images/karten/S8.bmp"
S9 BITMAP "../images/karten/S9.bmp"
S10 BITMAP "../images/karten/S10.bmp"
S13 BITMAP "../images/karten/S13.bmp"
S14 BITMAP "../images/karten/S14.bmp"

R1 BITMAP "../images/karten/R1.bmp"
R2 BITMAP "../images/karten/R2.bmp"
R3 BITMAP "../images/karten/R3.bmp"
R4 BITMAP "../images/karten/R4.bmp"
R5 BITMAP "../images/karten/R5.bmp"
R6 BITMAP "../images/karten/R6.bmp"
R7 BITMAP "../images/karten/R7.bmp"
R8 BITMAP "../images/karten/R8.bmp"
R9 BITMAP "../images/karten/R9.bmp"
R10 BITMAP "../images/karten/R10.bmp"
R13 BITMAP "../images/karten/R13.bmp"
R16 BITMAP "../images/karten/R16.bmp"

G1 BITMAP "../images/karten/G1.bmp"
G2 BITMAP "../images/karten/G2.bmp"
G3 BITMAP "../images/karten/G3.bmp"
G4 BITMAP "../images/karten/G4.bmp"
G5 BITMAP "../images/karten/G5.bmp"
G6 BITMAP "../images/karten/G6.bmp"
G7 BITMAP "../images/karten/G7.bmp"
G8 BITMAP "../images/karten/G8.bmp"
G9 BITMAP "../images/karten/G9.bmp"
G10 BITMAP "../images/karten/G10.bmp"
G13 BITMAP "../images/karten/G13.bmp"
G15 BITMAP "../images/karten/G15.bmp"

B1 BITMAP "../images/karten/B1.bmp"
B2 BITMAP "../images/karten/B2.bmp"
B3 BITMAP "../images/karten/B3.bmp"
B4 BITMAP "../images/karten/B4.bmp"
B5 BITMAP "../images/karten/B5.bmp"
B6 BITMAP "../images/karten/B6.bmp"
B7 BITMAP "../images/karten/B7.bmp"
B8 BITMAP "../images/karten/B8.bmp"
B9 BITMAP "../images/karten/B9.bmp"
B10 BITMAP "../images/karten/B10.bmp"
B13 BITMAP "../images/karten/B13.bmp"
B17 BITMAP "../images/karten/B17.bmp"

O11 BITMAP "../images/karten/O11.bmp"
O12 BITMAP "../images/karten/O12.bmp"

Rueckseite0 BITMAP "../images/karten/Rueckseite0.bmp"
Rueckseite1 BITMAP "../images/karten/Rueckseite1.bmp"
Rueckseite2 BITMAP "../images/karten/Rueckseite2.bmp"
Rueckseite3 BITMAP "../images/karten/Rueckseite3.bmp"
Rueckseite4 BITMAP "../images/karten/Rueckseite4.bmp"
Rueckseite5 BITMAP "../images/karten/Rueckseite5.bmp"
Rueckseite6 BITMAP "../images/karten/Rueckseite6.bmp"
Rueckseite7 BITMAP "../images/karten/Rueckseite7.bmp"
Rueckseite8 BITMAP "../images/karten/Rueckseite8.bmp"
Rueckseite9 BITMAP "../images/karten/Rueckseite9.bmp"

BackGround0 BITMAP "../images/background/Mittelalter.bmp"

