1 GIF "../images/karten/backside0.gif"
2 GIF "../images/karten/backside1.gif"
3 GIF "../images/karten/backside2.gif"
4 GIF "../images/karten/backside3.gif"
5 GIF "../images/karten/backside4.gif"
6 GIF "../images/karten/backside5.gif"
7 GIF "../images/karten/backside6.gif"
8 GIF "../images/karten/backside7.gif"
9 GIF "../images/karten/backside8.gif"
10 GIF "../images/karten/backside9.gif"

50 JPEG "../images/background/totalwar1.jpg"
51 JPEG "../images/background/totalwar2.jpg"
52 JPEG "../images/background/totalwar3.jpg"
53 JPEG "../images/background/totalwar4.jpg"

101 GIF "../images/karten/S1.gif"
102 GIF "../images/karten/S2.gif"
103 GIF "../images/karten/S3.gif"
104 GIF "../images/karten/S4.gif"
105 GIF "../images/karten/S5.gif"
106 GIF "../images/karten/S6.gif"
107 GIF "../images/karten/S7.gif"
108 GIF "../images/karten/S8.gif"
109 GIF "../images/karten/S9.gif"
110 GIF "../images/karten/S10.gif"
113 GIF "../images/karten/S13.gif"
114 GIF "../images/karten/S14.gif"

201 GIF "../images/karten/R1.gif"
202 GIF "../images/karten/R2.gif"
203 GIF "../images/karten/R3.gif"
204 GIF "../images/karten/R4.gif"
205 GIF "../images/karten/R5.gif"
206 GIF "../images/karten/R6.gif"
207 GIF "../images/karten/R7.gif"
208 GIF "../images/karten/R8.gif"
209 GIF "../images/karten/R9.gif"
210 GIF "../images/karten/R10.gif"
213 GIF "../images/karten/R13.gif"
216 GIF "../images/karten/R16.gif"

301 GIF "../images/karten/G1.gif"
302 GIF "../images/karten/G2.gif"
303 GIF "../images/karten/G3.gif"
304 GIF "../images/karten/G4.gif"
305 GIF "../images/karten/G5.gif"
306 GIF "../images/karten/G6.gif"
307 GIF "../images/karten/G7.gif"
308 GIF "../images/karten/G8.gif"
309 GIF "../images/karten/G9.gif"
310 GIF "../images/karten/G10.gif"
313 GIF "../images/karten/G13.gif"
315 GIF "../images/karten/G15.gif"

401 GIF "../images/karten/B1.gif"
402 GIF "../images/karten/B2.gif"
403 GIF "../images/karten/B3.gif"
404 GIF "../images/karten/B4.gif"
405 GIF "../images/karten/B5.gif"
406 GIF "../images/karten/B6.gif"
407 GIF "../images/karten/B7.gif"
408 GIF "../images/karten/B8.gif"
409 GIF "../images/karten/B9.gif"
410 GIF "../images/karten/B10.gif"
413 GIF "../images/karten/B13.gif"
417 GIF "../images/karten/B17.gif"

511 GIF "../images/karten/O11.gif"
512 GIF "../images/karten/O12.gif"






